.navbar {
    width: 100%;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, .2);
    padding: 10px 0px;

    .flexBox {
        display: flex;
        justify-content: space-between;
        margin: 0px 60px;

        .date {
            display: flex;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            align-items: center;
        }

        .logo {
            img {
                width: 55px;
                height: 60px;
            }
        }

        @media (prefers-reduced-motion: no-preference) {
            .logo {
                animation: logo-spin infinite 20s linear;
            }
        }

        @keyframes logo-spin {
            from {
                transform: rotateY(360deg);
            }

            to {
                transform: rotateY(0deg);
            }
        }

        .backButton {
            display: flex;
            align-items: center;

            .link{
                display: flex;
                align-items: center;
                gap: 5px;
                color: blue;
                text-decoration: none;
            }
        }
    }
}

.categories {
    width: 100%;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, .2);

    .CtgrFlexBox {
        display: flex;
        margin: 0px 60px;

        .ctgrData {
            position: relative;
            flex: 1;
            transition: 1s;
            cursor: pointer;
            border: 2px solid;
            border-color: #0e7490;
            text-align: center;
            -webkit-mask:
                conic-gradient(from 180deg at top 8px right 8px, #0000 90deg, #000 0) var(--_i, 200%) 0 /200% var(--_i, 8px) border-box no-repeat,
                conic-gradient(at bottom 8px left 8px, #0000 90deg, #000 0) 0 var(--_i, 200%)/var(--_i, 8px) 200% border-box no-repeat,
                linear-gradient(#000 0 0) padding-box no-repeat;
            transition: .3s, -webkit-mask-position .3s .3s;

            .ctgrText {    
                display: flex;         
                height: 100%;
                align-items: center;
                text-align: center;
                border-right: 0.5px solid lightgray;
                p{
                    flex: 1;
                }
            }
            .ctgrText.last{
                border-right: none;
            }
        }

        .ctgrData:hover,
        .ctgrData:focus {
            --_i: 100%;
            transition: .3s, -webkit-mask-size .3s .3s;

        }
        .active{
             p{
                color: #0e7490 !important;    
             }        
        }

    }
}