.table{  
    .tableHead{
        background-color: rgb(135, 224, 135);
        color: #fff;
        .tableCell{
            color: #fff;
        }
    }
    .tableRow{
        background-color: rgba(199, 239, 199, 0.64);
    }
}