.add{
    width: 100%;

    .addContainer{
        margin: 0 60px;

        h2{
            // color: rgb(122, 122, 236);
        }

        .addList{

            .addFlexBox{
               display: flex;
               justify-content: space-between;

               .left{
                   display: flex;
                   flex-direction: column;
                   width: 60%;

                   .inputs{
                     padding: 0px 0px 15px 0px;
                     display: flex;
                     justify-content: space-between;
                     
                     input{
                        padding: 3px;
                        width: 65%;
                        border: 0.5px solid rgb(172, 172, 244);
                        box-shadow: 3px 1px 5px 0px rgb(171, 169, 169);
                     }
                     label{
                        height: max-content;
                        width: 20%;
                        text-align: center;
                        background-color: rgba(217, 255, 217, 0.566);
                        padding: 5px 10px;
                        box-shadow: 2px 1px 3px 1px rgb(171, 169, 169);
                     }
                   }

               }

               .logoBottom{
                   height: 300px;
                   width: 300px;  
                   margin-right: 5%; 
                
                  img{
                    height: 100%;
                    width: 100%;   
                  }
               }
            
            }
            .bottomTextArea{
                display: flex;
                justify-content: space-between;
                label{
                    height: max-content;
                    width: 12%;
                    text-align: center;
                    background-color: rgba(217, 255, 217, 0.566);
                    padding: 10px 10px;
                    box-shadow: 2px 1px 3px 1px rgb(171, 169, 169);
                }
                textarea{
                    padding: 5px 3px;
                    width: 79%;
                    border: 0.5px solid rgb(172, 172, 244); 
                    box-shadow: 3px 1px 5px 0px rgb(171, 169, 169);  
                }

            }

            .addButton{
                margin-top: 20px;

                p{
                    float: right; 
                    background-color: #0e7490;
                    color: #fff;
                    padding: 5px 10px;
                    box-shadow: 3px 1px 3px 1px rgb(171, 169, 169);
                    cursor: pointer;
                }
                p:hover{
                    box-shadow: 1px 2px 5px 4px rgb(171, 169, 169);
                }
            }
        }
    }
}